.FormButton {
	width: auto;
	height: auto;
	margin-top: 16px;
	padding: 16px;
	border-radius: 16px;
	background-color: var(--color-1);
	color: var(--color-3);
	border: 0;
	font-size: 20px;
	transition: all 0.5s ease;
}

.FormButton:hover {
	background-color: var(--color-3);
	color: var(--color-1);
}
