.ContactForm {
	background-color: rgba(255, 255, 255, 0.8);
	padding: 24px;
	border-radius: 16px;
}

.cf-buttons {
	width: 100%;
	display: flex !important;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
